.App {
    text-align: center;
}
.calcBody{
  width: 325px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}
.inputBody {
  height: 80px;
  width: 300px;
  border-radius: 10px;
  margin: 15px 30px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.buttons{
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 100px 100px 100px;

}
.btn{
  width : 90px;
  height: 30px;
}
.input{
  text-align: end;
}
.secondInput{
  font-size: 40px;
}